appnope==0.1.0
backcall==0.1.0
bleach==3.1.0
boto==2.49.0
boto3==1.9.174
botocore==1.12.174
certifi==2018.11.29
chardet==3.0.4
decorator==4.3.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.5
django-cors-headers==2.4.0
django-heroku==0.3.1
djangorestframework==3.9.0
djangorestframework-camel-case==1.0.3
docutils==0.14
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
entrypoints==0.3
gunicorn==19.9.0
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10
jmespath==0.9.4
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
MarkupSafe==1.1.0
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.4
numpy==1.16.4
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prometheus-client==0.5.0
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
psycopg2-binary==2.8.2
ptyprocess==0.6.0
Pygments==2.3.1
python-dateutil==2.7.5
pytz==2018.9
pyzmq==17.1.2
requests==2.21.0
s3transfer==0.2.1
Send2Trash==1.5.0
six==1.12.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
typing==3.6.6
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==4.1.2
